body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333333;
}

.AppWrapper {
  margin: 1%;
  width: 98%;
  max-width: 1440px;
}

.CryptocurrencyPanel {
  width: 100%;
  margin: 2% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.CryptocurrencyPanel__select {
  min-width: 100px;
  margin: auto;
  text-align-last: center;
}

.CryptocurrencyPanel__cryptoPanel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CryptocurrencyPanel__crypto {
  margin: 0 2%;

  .CryptocurrencyPanel__cryptoName {
    font-weight: bold;
  }
}

.CryptocurrencyCalculator__content {
  background: #eee;
  padding: 2%;
  width: 80%;
  height: 200px;
  border-radius: 30px;
  flex-direction: column;
  margin: auto;
}

.CryptocurrencyCalculator__title {
  text-align: center;
}

.CryptocurrencyCalculator__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 96%;
  height: 53%;
  margin: auto;
  flex-wrap: wrap;
}

.CryptocurrencyCalculator__insideContainer {
  text-align: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
  height: 100%;
  justify-content: space-between;
}

.CryptocurrencyCalculator__containerRight {
  .CryptocurrencyPanel__select {
    margin-top: 40px;
  }
}

.CryptocurrencyCalculator__input {
  text-align: center;
}

.CryptocurrencyChart__selectContainer {
  text-align: center;
  
  .CryptocurrencyChart__select {
    width: 80%;
  }
}
